<div class="container py-5">
  <div class="companies">
    <h3>Companies</h3>
    <%= link_to "New", new_company_path, class: "btn btn-sm btn-primary" %>
  </div>
  <p class="no_company"><%= "No Companies Found" if @companies.blank? %> </p>
  <table class="table table-striped">
    <thead>
      <th>Name</th>
      <th>Email</th>
      <th>Phone</th>
      <th>Action</th>
    </thead>
    <tbody>
      <% @companies.each do |company| %>
        <tr>
          <td>
            <a href="<%= company_path(company) %>">
              <%= company.name %>
            </a>
          </td>
          <td><%= company.email %></td>
          <td><%= company.phone %></td>
          <td>
            <%= link_to company_path(company), title: "Detail" do %>
              <i class="fas fa-eye"></i>
            <% end %>
            <%= link_to edit_company_path(company), title: "Edit" do %>
              <i class="fas fa-edit"></i>
            <% end %>
            <%= link_to company_path(company), method: :delete, "data-confirm": "Are you sure?", class: "delete", title: "Delete" do %>
              <i class="fas fa-trash"></i>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
